.game_title {
  margin-top: 20px;
}
p {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #999;
}

body {
  background: #f4f4f4;
  font-family: serif;
}

h1 {
  color: #333333;
  font-size: 1.8rem;
  font-family: "Cinzel", serif;
  letter-spacing: 3px;
}

h1 span {
  color: #ffffff;
  padding: 0 5px;
}

.M,
.zero input[type="radio"] + label {
  font-size: 80px;
  background: #ffb400;
}

.A,
.one input[type="radio"] + label {
  font-size: 80px;
  background: #ff5a5f;
}

.S,
.two input[type="radio"] + label {
  font-size: 80px;
  background-color: #8ce071;
}

.T,
.three input[type="radio"] + label {
  font-size: 80px;
  background-color: #00d1c1;
}

.E,
.four input[type="radio"] + label {
  font-size: 80px;
  background-color: #007a87;
}

.R,
.five input[type="radio"] + label {
  font-size: 80px;
  background-color: #7b0051;
}

.MIND {
  font-size: 60px;
  color: #2624a8;
}
.rules {
  margin: 25px 0;
}

.rules-toggle {
  font-size: 1.2rem;
}

.Button_rule {
  font-size: 30px;
}

input[type="radio"] {
  display: none;
}

.peg input[type="radio"] + label {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border: #eaebe9 2px solid;
  border-radius: 50%;
  box-sizing: border-box;
}

.selected input[type="radio"] + label {
  border-color: #525554;
}

.codepegs {
  width: 50px;
  margin-top: 10px;
}

.codepegs .peg input[type="radio"] + label {
  margin-top: 0;
}
